.completed-table{
    float: left;
    background-color: green;
}
.pending-table{
    background-color: orange;
}
table{
    padding: 1em;
    width:50%;
}
h1{
    text-align: center;
}
.input-div{
    text-align: center;
    padding: 1em;
}
input{
    width: 50%;
}